Tom Hombergs <tom.hombergs@gmail.com>

Joseph Verron <joseph@verron.pro>
Joseph Verron <joseph@verron.pro> <3975735+josephverron@users.noreply.github.com>
Joseph Verron <joseph@verron.pro> <joseph.verron@totalenergies.com>
Joseph Verron <joseph@verron.pro> <joseph.verron@gmail.com>

Youssouf Naciri <ynaciri@gmail.com>
Youssouf Naciri <ynaciri@gmail.com> <youssouf.naciri@external.totalenergies.com>
Youssouf Naciri <ynaciri@gmail.com> <95088722+AL1047088@users.noreply.github.com>

Chris Rivera <chris.rivera@taxfyle.com> <crivera@10.0.0.25>
Chris Rivera <chris.rivera@taxfyle.com> <imbaroxxor@gmail.com>
Chris Rivera <chris.rivera@taxfyle.com> <crivera@devconone.org>

Mario Siegenthaler <m@riosiegenthaler.ch> <mario.siegenthaler@linkyard.ch>
